.form-group {
  margin-left: 20px;
}

.btn-primary {
  float: right;
  clear: both;
  margin-right: 45px;
}

h2 {
  margin-left: 20px;
  margin-top:-30px;
}

.form-control.name {
  width: 500px;
}

.form-control.contact {
  width: 500px;
}

.form-control.address {
  width: 500px;
}

.form-control.skills {
  width: 500px;
}

.form-control.qualification {
  width: 500px;
}

.form-control.skillList {
  width: 500px;
}

.form-control.salary {
  width: 500px;
}
