html, body {
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

#JobList {
    height: 100vh;
    border-right: solid 1px #DDDDDD;
}

#JobEdit {
  height: 100vh;
}

.clearfix {
  clear: both;
  margin-bottom: 15px;
}
